{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>

{% if user.is_authenticated %}
<li> Hello, {{user.username}} </li>
<h1> <a href="/logout"> Logout </a> </h1>
{% endif %}



<form action="loggedin" method="post">
    {% csrf_token %}
       <fieldset>
          <legend>Select Person to talk to</legend>
          <p>
             <select name="friend">
                {% for user in users %}
                    {% if user != myusername.username  %}
               <option>{{ user }}</option>
                    {% endif %}
                 {% endfor %}
             </select>
          <input type="submit">
          </p>
       </fieldset>
</form>


 <ol >
 {% for x in a %}
    {% if user.id == x.sender_id %}
 <li>{{ user.username }} : {{ x.content }}</li>
    {% elif user1.id == x.sender_id  %}
     <li> {{ user1.username }} : {{ x.content }}</li>

     {% endif %}
    {% endfor %}
 </ol>

<form action="/message" method="post">
					{% csrf_token %}
					<input type="text" name="message" placeholder="Enter your message" required>
					<button name="tosend" type="submit" value={{ user1 }}>SEND</button>
				</form>
<form action="/message" method="post">
	{% csrf_token %}
	<button name="refresh" type="submit" value={{ user1 }}>REFRESH</button>
</form>



<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script> <!-- ADD THE CLOSING TAG HERE TOO! -->

<script>  // <-- ADD THIS!
    {# var append_increment = 0;#}
    {# setInterval(function() {#}
    {#$.ajax({#}
    {#        type: "GET",#}
    {#        url: "{% url 'loggedin' %}",#}
    {#        data: {'append_increment': append_increment}#}
    {#    })#}
    {#    .done(function(response) {#}
    {#        $("#message").append(response);#}
    {#        append_increment += 10;#}
    {#    });#}
    {# },1000)#}

</script>

</body>
</html>